<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- highlight.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <style>
        .code {
            width: 100%;
            height: 300px;
        }
    </style>

    <!-- d3,js -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>

    <title>SACI WebUI</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SACI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <form>
    <fieldset>
    <legend>Blueprint</legend>
    <select id="blueprint" onchange="get_blueprint_component_graph($('#blueprint').find('option:selected').attr('id'));">
        <option id="99" selected>Any</option>
        <option id="0">PX4 Copter</option>
    </select>
    </fieldset>
    <div id="blueprint_graph"></div>
    </form>

    <form>
    <fieldset>
    <legend>CPV Playbook</legend>
    <ul class="list-group">
    {% for cpv in cpvs %}
        <li class="list-group-item">
            <a href="#" onclick="select_cpv('{{ cpv.__class__.__name__ }}');">{{ cpv.NAME }}</a>
        </li>
    {% endfor %}
    </ul>
    </fieldset>
    </form>

    <form>
    <fieldset>
    <legend>Components</legend>
    Selected CPV base: <div id="cpv-name">None</div> <br />
    <div id="components"></div>
    </fieldset>
    <button id="search-btn" type="button" class="btn btn-primary" onclick="search_for_cpvs();" disabled="disabled">Search for CPVs</button>
    </form>

    <form>
    <fieldset>
    <legend>Search Results</legend>
    <div id="cpv-search-results"></div>
    </fieldset>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>